{% extends 'AwFrontendTemplateBundle::base.html.twig' %}
{% block section_one %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endblock section_one %}
{% block section_two %}
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-5">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
</section><!--/form-->
{% endblock section_two %}

